$titleBlack: rgb(20, 20, 20);

.fixed__div {
    background-color: $titleBlack;
    color: white;
    width: 5vw;
    right: 0;
    height: 100vh;
    border-left: 1px solid white;
    z-index: 99999;
    position: fixed;
    display: flex;
    justify-content: center;
    .fixed__div__menu{
        position: fixed;
        padding-top: 2rem;
        cursor: pointer;
        input{
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;
            }
            span{
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                background: #FFC03F;
                border-radius: 3px;
                z-index: 999999;
                transform-origin: 4px 0px;
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),opacity 0.55s ease;
                &:first-child{
                    transform-origin: 0% 0%;
                }
                &:nth-last-child(2){
                        transform-origin: 0% 100%;
                    }
                }
    }
    .arrow {
        bottom: 3rem;
        font-size: 4rem;
        width: 5vw;
        text-align: center;
        cursor: pointer;
        position: fixed;
        text-align: center;
        a {
            color: #FFC03F;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 996px) {
    .title__container {
        grid-template-areas:
        'first first'
        'second third' !important;
    }
}

@media screen and (max-width: 700px) {
    .fixed__div {
        width: 0 !important;
        border: none !important;
        .arrow {
            display: none !important;
        }
    }
    .fixed__div__menu {
        right: 1rem !important;
    }
}