@import './variables';

#aboutUs{
    padding: $aboutUs__paddingTop 1rem $aboutUs__paddingBottom 1rem;
    min-height: fit-content !important;
    position: relative;
    .aboutUs__container {
        display: grid;
        padding: $aboutUsContainer__padding 0;
        .aboutUs__container__left {
            position: relative;
            grid-area: first;
            width: 100%;
            margin-bottom: $left__marginBottom;
            padding: 0 $left__padding;
            .aboutUs__title {
                font-family: 'Cabin', sans-serif;
                font-size: $title__fontSize;
                font-weight: 700;
                z-index: 8;
            }
            .aboutUs__container__subtitle {
                color: $orange;
                font-size: $subtitle__fontSize;
                font-family: 'Prompt', sans-serif;
                margin: $subtitle__margin 0;
            }
            .aboutUs__container__left__text {
                padding-right: $text__padding;
                font-family: 'Rubik', sans-serif;
                line-height: 1.75rem;
                font-size: $text__fontSize;
                width: 100%;
            }
            .aboutUs__container__btn {
                margin-top: 4rem;
                position: relative;
                width: fit-content;
                a {
                    color: black;
                    text-decoration: none;
                    font-family: 'Prompt', sans-serif;
                    text-transform: uppercase;
                    padding: 1rem;
                }
                .aboutUs__container__btn__div {
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    background-color: $orange;
                    z-index: -1;
                }
            }
        }
        .aboutUs__container__right {
            grid-area: second;
            position: relative;
            right: $right__left;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: $img;
            }
        }
        grid-template-areas:
        'first second'
        'first second';
    }
    .aboutUs__works {
        display: grid;
        grid-gap: 3rem;
        min-height: 80vh;
        align-items: center;
        justify-content: center;
        padding: $works__padding 0;
        .aboutUs__works__first {
            grid-area: first;
            width: $img;
            height: 100%;
            background-image: url('./aboutUs2.jpeg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            overflow: hidden;
            .aboutUs__works__first__div {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $orange;
                opacity: 0.85;
                transform: translateX(-100%);
             }
            .aboutUs__works__first__text {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                text-align: right;
                transform: translateY(150%);
                p {
                    font-size: 1.5rem;
                }
                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .aboutUs__works__second {
            grid-area: second;
            width: $img;
            height: 100%;
            background-image: url('./aboutUs3.jpeg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            overflow: hidden;
            .aboutUs__works__second__div {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $orange;
                opacity: 0.85;
                transform: translateX(-100%);
             }
            .aboutUs__works__second__text {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                text-align: right;
                transform: translateY(150%);
                p {
                    font-size: 1.5rem;
                }
                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
        grid-template-areas:
        'first second' 'first second'
    }
}

@media screen and (max-width: 1050px) {
    .aboutUs__works {
        grid-template-areas: 'first first' 'second second' !important;
    }
}

@media screen and (max-width: 1100px) {
    #aboutUs {
        .aboutUs__container {
            grid-template-areas:
            'first first'
            'second second' !important;
            .aboutUs__container__right{
                display: none !important;
            }
    }
    }
}

@media screen and (max-width: 700px) {
    .aboutUs__container {
        width: 90vw !important;
    }
}