@import './variables';

#workWithUs {
    padding: $workWithUs__paddingTop $workWithUs__paddingX $workWithUs__paddingBottom $workWithUs__paddingX;
    display: grid;
    .workWithUs__title {
        font-family: 'Cabin', sans-serif;
        font-size: $title__fontSize;
        font-weight: 700;
        padding-left: 1rem;
        z-index: 8;
        span {
            color: $orange;
        }
    }
    .workWithUs__subtitle{
        font-size: $subtitle__fontSize;
        padding: $subtitle__paddingTop $subtitle__paddingX $subtitle__paddingBottom $subtitle__paddingX;
        font-family: 'Prompt', sans-serif;
    }
    .workWithUs__works {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'first second';
        padding: $works__paddingTop $works__paddingX $works__paddingBottom $works__paddingX;
        width: 100%;
        .position {
            position: relative;
            width: 40%;
            font-size: 1.15rem;
            font-family: 'Heebo', sans-serif;
            line-height: 1.85rem;
            span {
                color: rgb(175, 22, 22);
                font-size: 1.25rem;
                position: absolute;
                right: 0;
                top: -25%;
                cursor: pointer;
                &:hover {
                    font-weight: 800;
                }
            }
        }
        .works__first {
            grid-area: first;
        }
        .works__second {
            grid-area: second;
        }
    }
}

@media screen and (max-width: 900px) {
    .workWithUs__works {
        grid-template-columns: 100% !important;
        grid-template-areas: 'first''second' !important;
    }
    .position {
        width: 100% !important;
    }
}