$orange: #e7b34b;

#workWithUs {
    padding: 15rem 20rem 10rem 20rem;
    display: grid;
    .workWithUs__title {
        font-family: 'Cabin', sans-serif;
        font-size: 9rem;
        font-weight: 700;
        z-index: 8;
        span {
            color: $orange;
        }
    }
    .workWithUs__subtitle{
        font-size: 1.75rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-family: 'Prompt', sans-serif;
    }
    .workWithUs__works {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'first second';
        padding-top: 5rem;
        width: 100%;
        .position {
            position: relative;
            width: 40%;
            font-size: 1.15rem;
            font-family: 'Heebo', sans-serif;
            line-height: 1.85rem;
            span {
                color: rgb(175, 22, 22);
                font-size: 1.25rem;
                position: absolute;
                right: 0;
                top: -25%;
                cursor: pointer;
                &:hover {
                    font-weight: 800;
                }
            }
        }
        .works__first {
            grid-area: first;
        }
        .works__second {
            grid-area: second;
        }
    }
}