.logo {
    width: 95vw;
    height: 8vh;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 0;
    position: fixed;
    img{
        height: 16vh;
        top: -1.75rem;
        left: 2rem;
        position: relative;
    }
}