$orange: #FFC03F;

.loading {
    display: none;
    width: 100vw;
    height: 100vh;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    text-align: center;
    z-index: 999;
    position: absolute;
    h1 {
        font-family: 'Cabin', sans-serif;
        font-size: $title__fontSize;
        font-weight: 700;
    }
    .line {
        background-color: $orange;
        width: 100px;
        height: 5px;
        margin: 0 auto;
    }
}