@import './variables';

#whatWeDo {
    background-color: black;
    color: white;
    text-align: center;
    padding: $whatWeDo__paddingTop $whatWeDo__paddingX $whatWeDo__paddingBottom $whatWeDo__paddingX;
    .whatWeDo__title {
        font-size: $title__fontSize;
        font-family: 'Cabin', sans-serif;
        font-weight: 700;
        span {
            color: $span;
        }
    }
    .whatWeDo__subtitle {
        font-size: $subtitle__fontSize;
        padding: $subtitle__paddingTop $subtitle__paddingX $subtitle__paddingBottom $subtitle__paddingX;
        font-family: 'Prompt', sans-serif;
        line-height: $subtitle__lineHeight;
    }
    .whatWeDo__container {
        margin: auto;
        display: grid;
        grid-template-areas: 'first second third fourth';
        grid-template-columns: 25% 25% 25% 25%;
        grid-gap: 2rem;
        padding: 0 $whatWeDoContainer__paddingX;
        .card:nth-child(1){
            grid-area: first;
        }
        .card:nth-child(2){
            grid-area: second;
        }
        .card:nth-child(3){
            grid-area: third;
        }
        .card:nth-child(4){
            grid-area: fourth;
        }
        .card {
            text-align: left;
            position: relative;
            padding: 2rem;
            background: rgb(43, 41, 41);
            .card__subtitle {
                color: $orange;
                font-family: 'Signika Negative', sans-serif;
                font-size: $card__subtitle;
            }
            .card__title {
                font-size: $card__title;
                font-family: 'Noto Sans', sans-serif;
                padding-bottom: 1.5rem;
                color: $grey;
            }
            .card__text {
                font-family: 'Prompt', sans-serif;
                line-height: 1.5rem;
            }
            .card__btn {
                position: relative;
                margin-top: $btn__marginTop;
                width: fit-content;
                padding: 0.3rem 0.7rem;
                font-family: 'Prompt', sans-serif;
                z-index: 1;
                cursor: pointer;
                overflow: hidden;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                    color: rgb(167, 161, 161);
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .whatWeDo__container {
        grid-template-areas: 'first second' 'third fourth' !important;
        grid-template-columns: 50% 50% !important;
        grid-gap: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .whatWeDo__container {
        grid-template-areas: 'first' 'second'
         'third' 'fourth' !important;
        grid-template-columns: 100% !important;
        grid-gap: 2rem;
    }
}